In [ ]:
house = ['#50000000', '4', 'Duplex', 'Ikeja']
house = {
    'price(N)': '#50000000',
    'no_of_rooms': '4',
    'house_type': 'Duplex',
    'location': 'Ikeja'
}

In [11]:
# lets represent multiple houses using lists
house_1 = [50000000, 4 , 'Duplex', 'Ikeja']
house_2 = [55000000, 3, 'Bungalow', 'Lekki']
house_3 = [25000000, 4, 'Bungalow', 'Ikorodu']
house_4 = [70000000, 6, 'Semi-Detached', 'Bariga']
house_5 = [500000000, 10, 'High-Rise', 'Badagry']

#let's calculate the mean/average price of house in Lagos, using our sample data of course
list_of_prices = [house_1[0], house_2[0], house_3[0], house_4[0], house_5[0]]

# let's calculate mean/average
mean_house_price = sum(list_of_prices) / len(list_of_prices)

print("house prices (in Naira):\t", list_of_prices)
print ('mean house price (in Naira):\t', mean_house_price)

# let's switch to dictionaries
house_1 = {
    'price (N)': 50000000,
    'no_of_rooms': 4,
    'house_type': 'Duplex',
    'location': 'Ikeja'
}
house_2 = {
    'price (N)': 55000000,
    'no_of_rooms': 3,
    'house_type': 'Bungalow',
    'location': 'Lekki'
}
house_3= {
    'price (N)': 25000000,
    'no_of_rooms': 4,
    'house_type': 'Bungalow',
    'location': 'Ikorodu'
}
house_4= {
    'price (N)': 70000000,
    'no_of_rooms': 6,
    'house_type': 'Semi-Detached',
    'location': 'Bariga'
}
house_5= {
    'price (N)': 500000000,
    'no_of_rooms': 10,
    'house_type': 'High-Rise',
    'location': 'Badagry'
}

#let's calculate the mean/average price of house in Lagos, using our sample data of course
list_of_prices = [house_1['price (N)'], house_2['price (N)'], house_3['price (N)'], house_4['price (N)'], house_5['price (N)']]

# let's calculate mean/average
mean_house_price = sum(list_of_prices) / len(list_of_prices)

print("house prices (in Naira):\t", list_of_prices)
print ('mean house price (in Naira):\t', mean_house_price)

house prices (in Naira):	 [50000000, 55000000, 25000000, 70000000, 500000000]
mean house price (in Naira):	 140000000.0
house prices (in Naira):	 [50000000, 55000000, 25000000, 70000000, 500000000]
mean house price (in Naira):	 140000000.0

In [33]:
house_list = [
    {
    'price (N)': 50000000,
    'no_of_rooms': 4,
    'house_type': 'duplex',
    'location': 'Ikeja'
    },
    {
    'price (N)': 55000000,
    'no_of_rooms': 3,
    'house_type': 'bungalow',
    'location': 'Lekki'
    },
    {
    'price (N)': 25000000,
    'no_of_rooms': 4,
    'house_type': 'bungalow',
    'location': 'Ikorodu'
    },
    {
    'price (N)': 70000000,
    'no_of_rooms': 6,
    'house_type': 'semi-detached',
    'location': 'Bariga'
    },
    {
    'price (N)': 500000000,
    'no_of_rooms': 10,
    'house_type': 'high-rise',
    'location': 'Badagry'
    }
]


list_of_prices = [house_1['price (N)'], house_2['price (N)'], house_3['price (N)'], house_4['price (N)'], house_5['price (N)']]

mean_house_price = sum(list_of_prices) / len(list_of_prices)
duplex_count = 0
bungalow_count = 0
semi_detached_count = 0
high_rise_count = 0


for house in house_list:
    if house['house_type'] == 'duplex':
        duplex_count = duplex_count + 1
    elif house['house_type'] == 'bungalow':
        bungalow_count = bungalow_count + 1
    elif house['house_type'] == 'semi-detached':
        semi_detached_count = semi_detached_count + 1
    elif house['house_type'] == 'high-rise':
        high_rise_count = high_rise_count + 1

print('duplex count:', duplex_count, 'bungalow count:', bungalow_count, 'semi_detached_count:', semi_detached_count, 'high_rise_count:', high_rise_count)

duplex count: 1 bungalow count: 2 semi_detached_count: 1 high_rise_count: 1